vrrp_instance VI_1 {
    {% if ansible_hostname == 'vip01' %}
      state MASTER
    {% else %}
      state BACKUP
    {% endif %}
    interface enp0s8
    virtual_router_id 51
    {% if ansible_hostname == 'vip01' %}
    priority 101
    {% else %}
    priority 100
    {% endif %}
    advert_int 2
    virtual_ipaddress {
        10.11.12.50
    }
}

virtual_server 10.11.12.50 80 {
    delay_loop 4
    lb_algo rr
    lb_kind DR
    protocol TCP

    real_server 192.168.12.51 80 {
        weight 50
    }

    real_server 192.168.12.52 80 {
        weight 50
    }
}
