# Copyright (c) 2015, 2022, Oracle and/or its affiliates.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License, version 2.0,
# as published by the Free Software Foundation.
#
# This program is also distributed with certain software (including
# but not limited to OpenSSL) that is licensed under separate terms,
# as designated in a particular file or component or in included license
# documentation.  The authors of MySQL hereby grant you an additional
# permission to link the program and your derivative works with the
# separately licensed software that they have included with MySQL.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License, version 2.0, for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301  USA

#
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#

[mysqld]
server_id=61
gtid_mode=on
enforce_gtid_consistency=1

disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

transaction_write_set_extraction=XXHASH64

loose-group_replication_group_name='aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa'
loose-group_replication_ip_allowlist='192.168.12.0/24'
loose-group_replication_ssl_mode='DISABLED'
loose-group_replication_local_address='192.168.12.61:3306'
loose-group_replication_group_seeds='192.168.12.61:3306,192.168.12.62:3306,192.168.12.63:3306'

loose-group_replication_bootstrap_group=off

loose-group_replication_start_on_boot=off

loose-group_replication_single_primary_mode=on
loose-group_replication_recovery_get_public_key=on
loose-group_replication_enforce_update_everywhere_checks=off

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/
